.restaurants {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 10px 0;
  width: 30%;
  border-radius: 5px;
  border: 1px solid rgba(183, 183, 183, 0.382);
  box-shadow: 1px 1px 5px rgba(150, 149, 149, 0.686);
}

.title {
  display: flex;
}

.address-code {
  display: flex;
}

.menu {
  background-color: rgb(243, 244, 246);
}
